# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: print some environment info 
      run: |
        echo printing environment details
        pwd
        date >> $GITHUB_WORKSPACE/buildResults.txt
        date

      continue-on-error: true      

    - name: run configure 
      continue-on-error: true
      run: |
        ls -al         
        /bin/bash ./configure.sh

    - name: run configure 
      continue-on-error: true
      run: |
        chmod 755 ./configure.sh
        ls -al           
        ./configure.sh
    
    - name: get git configuration
      continue-on-error: true
      run: |
        cat .git/configure

        
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        # Artifact name
        name: buildResult # optional
        # A file, directory or wildcard pattern that describes what to upload
        path: buildResults.txt
